body{
	background-color: #E3E6BB;
	padding: 6em 4em;
}
.settings-bar-container{
	height: 100%;
	& > div{
		top: 50%;
		transform: translateY(-50%);
		position: absolute;
		&.right{
			right: 20px;
		}
		.button{
			margin: 0;
			font-weight: bold;
		}
	}
	& > span{
		position: absolute;
		right: 20px;
		top: 50%;
		transform: translateY(-50%);
		color: black;
		font-weight: bold;
		font-size: 1.5em;
	}
}
.settings-bar{
  background-color: #334760;
  color: white;
  text-transform: uppercase;
  height: 65px;
  padding: 0 1em;
  .row{
  	height: 100%;
  }
}
.main-content{
	background-color: #5B6E86;
	color: white;
	.layout{
		height: 200px;
		padding: 2em ;
		div{
			background-color: white;
			height: 100%;
		}
		&.current{
			div{
				background-color: #91BBEC;
			}
		}
	}
}

.side-bar{
	background-color: #429FFC;
	padding: 0;
	text-align: center;
	ul{
		list-style: none;
		margin: 0;
		li{
			height: 100px;
			display: table;
			width: 100%;
			a{
				color: #2267B3;
				display: table-cell;
				vertical-align: middle;
				i{
					display: block;
					font-size: 2em;
					color: #2274CD;
				}
			}
			&.current{
				background-color: #5B6E86;
				width: 101%;
				a,i{
					color: #3F4E66;
				}
			}
		}
	}
}
.secondary{
	background-color: transparent !important;
}